<h1> Peripherals </h1>

<% for(var i=0; i<items.length; i++) {%>
  
  <a href="/peripherals/<%= items[i] %>.csv"> <%= items[i] %></a> <br>

  <% } %>
  
  <br><br>
  <small>Right click and select save as to save as a CSV file</small>